p{
  font-family: Georgia;
  font-size: 3vw;
}
body{
  margin: 8px;
  background-color: #f7e7b9;
}
.head {
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  max-width:45%;
  height:auto;
   }
.trophy{
  display: inline-block;
  float: left;
  margin-right:1%;
  margin-bottom: 3%;
  width: 50%;
}
figcaption {
  padding: 2px;
  text-align: justify;
}
.president{
  display: block;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
}
ul{
  margin-left: 32%;
}
.pumps{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.install
{
   white-space: normal;
  margin-top: 3%;
  margin-left: 1%;
}
.valve{
  text-align: center;
}
.foot{
  text-align: center;

}
.foot2{
  margin-left: 10px;
  margin-right: 10px;
  padding: 1%;
}
.foot2 big{
  color: #ec3030;
}
hr{
    height: 2px;
    background-color: #ec3030;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 2%;
}

footer{
  display: flex;
  flex-wrap: row-wrap;
  justify-content: space-around;
  color: white;
  background-color: #ec3030;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}
footer p{
  margin: 1%;
}
i.fa {
  border-radius: 60px;
  padding: 0.5em 0.6em;
  color: #ec3030;
  background-color: white;
}
svg{
  width: 30px;
}
@media screen and (min-width: 800px) {
  p{
    font-size: large;
    float: none;
  }
  .trophy{
  display: inline-block;
  float: left;
  margin-right:0%;
  margin-bottom: 3%;
  width: 32%;
}
  .president{
  display: block;
  float: right;
  margin-left: 1%;
  margin-right: 3%;
  width: 62%;
}
.pumps{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
}

